.banner{
    background: #fe0036;
}
.banner img{
    width: 990px;
    height: 80px;
    margin:0 auto;
    display: block;
}
.header{
    height:41px;
    /* border-bottom:1px solid #e5e5e5; */
    background:#f63a00  ; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.wrapper{
    width: 1230px;
    margin:0 auto;
}
.header-login{
    float: left;
}
.header-info{
    float: right;
}
.header-login span,.header-login a{
    color:#fff;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    margin-right:20px;
    line-height: 32px;
}

/* header info开始 */
.header-info > li{
    float: left;
    /* background: green;
    border:1px solid #000; */
    padding: 0 14px 0 10px;
}
.header-info > li > a{
    color:#fff;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height: 32px;

}


/* header info结束 */