.banner{
    background: #fe0036;
}
.banner img{
    width: 990px;
    height: 80px;
    margin:0 auto;
    display: block;
}
.header{
    height:41px;
    /* border-bottom:1px solid #e5e5e5; */
    background:#f63a00  ; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.wrapper{
    width: 1230px;
    margin:0 auto;
}
.header-login{
    float: left;
}
.header-info{
    float: right;
}
.header-login span,.header-login a{
    color:#fff;
    margin-right:20px;
    line-height: 32px;
}
/* header info开始 */
.header-info > li{ 
    float: left;
    /* background: green;
    border:1px solid #000; */
    padding: 0 14px 0 10px;
    position: relative;
    cursor: pointer;
}
.header-info .main-menu{
    border:1px solid #f63a00;
}

/* lihover的时候 自己的背景变色 */
.header-info .main-menu:hover{
    background: #fff;
    border:1px solid #f2f2f2;
    border-bottom: 1px solid pink;
}
/* lihover的时候 里边的a元素文字变色 */
.header-info .main-menu:hover > a{
    color: #ff0036;
}
/* lihover的时候 里边箭头旋转180度 */
.header-info .main-menu:hover .arrow{
    transform: rotate(180deg);
}
.header-info .main-menu:hover .sub-menu{
    display: block;
}
.header-info .main-menu:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background:#fff;
    position: absolute;
    top:32px;
    left:0px;
}
.header-info > li > a{
    color:#fff;
    /* font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; */
    line-height: 32px;
}
.header .arrow{
    width: 0;
    height: 0;
    border:3px solid transparent;
    border-top:3px solid #bbbbbb;
    position: absolute;
    right:5px;
    top:16px;
    transition: transform 0.3s ease;
    transform-origin: 50% 25%;
}

.header-info .sub-menu{
    width:73px;
    position: absolute;
    top:32px;
    left:-1px;
    padding: 8px 10px;
    border: 1px solid #f2f2f2;
    background: #fff;
    display: none;

}
.header-info .sub-menu li{
    height: 34px;
    line-height: 34px;
}
.header-info .sub-menu li a{
    color: #666;
}
.header-info .sub-menu li:hover a{
    color: #ff0036;
}
/* 修改字体图标大小 */
.header-shouji{
    font-size: 12px;
}
.icon-gouwuche{
    font-size: 14px;
    /* color: #fe0036; */
    font-weight: 700;
}
.menu-hover:hover a,.menu-hover:hover span{
    color: #ffe013;
}
/* header info结束 */